
@{
    ViewBag.Title = "Allnews";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <hr style="border: 1.5px solid #000000;">
    <div class="row mt-30">
        <div class="col-md-5 myheight1">
            <a href="~/CV/news1"><img src="~/Content/網站圖片庫/鏡文學4.jpg" class="img-fluid myheight3"></a>
        </div>
        <div class="col-md-7">
            <div class="text-body">

                <div class="title">
                    <a href="~/CV/news1"><h5>【人氣作品，不看嗎？】讀者推薦排行榜　10/28 - 11/3</h5></a>
                </div>
                <p class="ellipsis-2" style="color: black;">鏡文學簽約作品每週【推薦排行榜】♕TOP1 《發條之森》TOP2《公司冗員清除驚喜包》TOP3《妖怪法則》TOP4《拼裝家庭》TOP5《禿鷹</p>
                <a href="~/CV/news1">繼續閱讀</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row mt-30">
        <div class="col-md-5 myheight1">
            <a href="~/CV/news2"><img src="~/Content/網站圖片庫/鏡文學5.jpg" class="img-fluid myheight3"></a>
        </div>
        <div class="col-md-7">
            <div class="text-body">

                <div class="title">
                    <a href="~/CV/news2"><h5>【鏡文學出版】拼裝家庭</h5></a>
                </div>
                <p class="ellipsis-2" style="color: black;">拼裝家庭Ami亞海 著出版日期：2020/10/30★對共居、教養有更多想像，勇敢迎來各種幸福的契機，觸碰現代家庭組合的多元可能。★人氣插畫家藍聖傑BLUE親自操刀書封繪製★未出版即售出改編影視版權─推薦─劉育豪 / 高雄市性別公民行動協會理事長蔡淇華 / 作家，臺中市惠文高中圖書館主任全世界都以為我們在一起，其實並沒有──先後與同一個女子結婚又離婚的兩個男人， 各自帶著與前妻生下的女兒一起生活；同住在一個屋簷下的他們，到底是不是一家人？何篤行離婚了。妻子留下還在襁褓中的女兒繆繆，頭也不回地離開了婚姻。</p>
                <a href="~/CV/news2">繼續閱讀</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row mt-30">
        <div class="col-md-5 myheight1">
            <a href="~/CV/news3"><img src="~/Content/網站圖片庫/Allnews鏡文學9.jpeg" class="img-fluid myheight3"></a>
        </div>
        <div class="col-md-7">
            <div class="text-body">

                <div class="title">
                    <a href="~/CV/news3"><h5>懸崖上的樂園——專訪吳曉樂《我們沒有祕密</h5></a>
                </div>
                <p class="ellipsis-2" style="color: black;">吳曉樂不愛露面，反而在意各種事件中被流言掩沒的人，他們的臉孔究竟有沒有被看見，所以她參與社運討論，卻發現「弱者往往很難善待彼此」。這也是《我們沒有祕密》幾位角色之間不幸的關係。吳曉樂很在意臉。不是她自己的，而是她筆下人物的面孔，以及新聞事件裡千人一面的受害者。採訪時，她不止一次提到「我想要她們長回自己的臉。」吳曉樂說，社會有張受害者臉譜，一旦受傷，我們就要活生生的人戴上，變成乖順愚笨天真爛漫的角色。</p>
                <a href="~/CV/news3">繼續閱讀</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row mt-30">
        <div class="col-md-5 myheight1">
            <a href="~/CV/news4"><img src="~/Content/網站圖片庫/鏡文學7.jpg" class="img-fluid myheight3"></a>
        </div>
        <div class="col-md-7">
            <div class="text-body">

                <div class="title">
                    <a href="~/CV/news4"><h5>【鏡文學出版】歡迎光臨分手事務所（電子書）</h5></a>
                </div>
                <p class="ellipsis-2" style="color: black;">《歡迎光臨分手事務所》四絃 著★ 「拿錢拆散不愛的兩個人有錯嗎?」正反價值拉鋸 ，具十足話題性。★ 都會浪漫愛情喜劇！細膩描繪愛情的多種樣貌與戀愛中的難題，呈現老、中、青三代面對愛情的不同態度。★ 刺激的「臥底」橋段，主角化身情報員蒐集情資， 滿足讀者窺探欲望。自己說不出口的分手，就交給分手事務所。楊綺真和初戀男友愛情長跑七年，沒想到某天收到一張A4列印紙，上面簡單寫著「我們分手吧」！不甘心就這樣被分手的她，到處也找不到前男友，整天鬱鬱寡歡、丟了工作，甚至嘗試吃20幾顆安眠藥自殺。</p>
                <a href="~/CV/news4">繼續閱讀</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row mt-30">
        <div class="col-md-5 myheight1">
            <a href="~/CV/news5"><img src="~/Content/網站圖片庫/鏡文學8.jpg" class="img-fluid myheight3"></a>
        </div>
        <div class="col-md-7">
            <div class="text-body">

                <div class="title">
                    <a href="~/CV/news5"><h5>【鏡文學出版】1+1+1</h5></a>
                </div>
                <p class="ellipsis-2" style="color: black;">《1+1+1：最暖爸爸插畫家大人系繪本》藍聖傑BLUE 著 文字／翟翱故事／陳昱俐★ 超過1,000,000人次分享，多國媒體現象式報導超人氣插畫家全新創作★ 關於家與成長的大人系療癒繪本。★ 煙花綻放版與街景生活版兩款絕美封面隨機出貨。</p>
                <a href="~/CV/news5">繼續閱讀</a>
            </div>
        </div>
    </div>
</div>

