
@{
    ViewBag.Title = "news5";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="mypost1" style="text-align:center;">
        <img src="~/Content/網站圖片庫/鏡文學8.jpg" class="mypost1">
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <p class=" badge badge-dark" style="font-size: 18px;">★ 最新消息</p>
        </div>
        <div class="col-12">
            <h2>【鏡文學出版】1+1+1）</h2>
            <p>文｜引用鏡文學 2020-08-28</p>
        </div>
        <div class="col-12" style="text-align:center;">
            <img src="~/Content/網站圖片庫/(內圖)111.jpeg" style="box-shadow: 2px 2px 5px #000000; height:420px;width:auto;">
        </div>
        <div class="col-12 mt-5">
            <h5></h5>
            <p>
                ★ 超過1,000,000人次分享，多國媒體現象式報導超人氣插畫家全新創作
            </p>

            <p>★ 關於家與成長的大人系療癒繪本。</p>

            <p>★ 煙花綻放版與街景生活版兩款絕美封面隨機出貨。</p>

            <p>★ 首刷隨書附贈藍聖傑BLUE X plain-me聯名折扣碼明信片</p>





            <p>超過1,000,000人次分享，多國媒體現象式報導</p>

            <p>全球最暖父職插畫家</p>

            <p>這個夏天，在家與加、家與減之間，</p>

            <p>父子兩人都學會了成長的算式</p>




            <p>童年如果是個季節，那一定是夏天</p>

            <p>新手爸爸，是男人的二度童年</p>

            <p>剛失去一個家的他，也需要重新長大</p>



            <p>男人是專畫女體的插畫家，也是新手單親爸爸，這年夏天帶著孩子搬到新的城市，展開了沒有「她」的新生活。在這裡，他試著重建一個家。</p>

            <p>疲於兼顧工作與小孩的他，顯得有些手忙腳亂，此時「小白兔」與「小藍」出現在兩人的生活。</p>

            <p>男孩將懷孕的受傷狗狗取名小白兔；男人則遇見狗狗的獸醫師小藍——頭髮漾著深邃的藍色，優雅而神祕的女性。</p>

            <p>小藍因為小白兔，和父子從陌生到相熟，若無似有的情愫開展。而即將到來的煙火大會，預告著夏日的尾聲，並讓兩人心中各自醞釀起不同的情緒……</p>

            <p>夏天要結束了，這並非結束，而是開始。</p>

            <p>原來，開始與結束如此相近。</p>





            <p>作者簡介</p>



            <p>藍聖傑BLUE</p>

            <p>插畫藝術家，曾以單親奶爸育兒點滴插畫出版《我是父心漢》。近年以父子系列插畫臉書百萬分享走紅，現為鏡文學旗下作家。</p>



            <p>FB粉絲團：BLUE流 個人網站：藍聖傑BLUE</p>



            <p>全國公部門愛用插畫家</p>

            <p>衛福部－食品安全宣導插畫設計</p>

            <p>新北市－單親爸爸諮詢專線形象設計</p>

            <p>台北市－性平講座</p>

            <p>桃園市－青埔旅遊線推廣</p>

            <p>基隆市－市刊封面插畫</p>

            <p>智慧局－吉祥物重繪</p>

            <p>警政署－父親節插畫設計</p>



            <p>新光三越</p>

            <p>「這夏有洋蔥」展邀展</p>

            <p>手作坊講師</p>

            <p>場地視覺設計</p>



            <p>兒福聯盟</p>

            <p>2020出養兒童生活照顧基金募集計劃主視覺</p>

            <p>小熊出版／嬰兒與母親／巧連智／克寧KLIM社群合作</p>



            <p>故事</p>

            <p>陳昱俐</p>

            <p>台北藝術大學電影創作碩士，創作涵蓋電影、電視劇集、廣告以及MV腳本，《自由人》曾獲金鐘迷你劇集電視電影編劇獎，喜歡說故事並以此為志業。</p>



            <p>文字</p>

            <p>翟翱</p>

            <p>1987年生於花蓮，長居台北。文字作品以採訪為主，與藍聖傑BLUE合作《單親爸爸週記》配圖文字。</p>



            <p>購書連結</p>

            <p>博客來：</p> <a href="https://reurl.cc/VX6WqN">https://reurl.cc/VX6WqN</a>

            <p>誠品：</p> <a href="https://eslite.me/VE3XC">https://eslite.me/VE3XC</a>

            <p>金石堂：</p> <a href="https://reurl.cc/6l2qk6">https://reurl.cc/6l2qk6</a>

            <p>讀冊：</p> <a href="https://reurl.cc/Kjjrxj">https://reurl.cc/Kjjrxj</a>

            <p>蝦皮：</p> <a href="https://sho.pe/VGBLD">https://sho.pe/VGBLD</a>

        </div>
    </div>

</div>

