@model RentBook.Models.ReadBooksModel
@{
    ViewBag.Title = "ReadComicBookContent";
}

<h2>ReadComicBookContent</h2>



@foreach (string FileName in Model.FilesName)
{
    if (FileName != "")
    {
        string 檔名 = FileName + ".jpg";
        <img src="@Model.FilePath/@檔名" />
    }
}