body {
    background-color: #F7F6F3;
    color: #6C6A65;
}

nav {
    background-color: #fff;
    /*background-color: #F7F6F3;*/
    color: #6C6A65;
    box-shadow: 0px 0px 3px;
}

nav a {
    color: #6C6A65;
}

.dropdown-menu {
    background-color: #F7F6F3;
    color: #EBEBEB
}

.dropdown-item:hover {
    background-color: #EBEBEB;
    color: black;
    /*color: #5A6268;*/
}
.dark:hover {
    background-color:#6C757D;
    /*
    background-color: #373C3F;
    color: #EBEBEB*/
}



article {
    background-color: #fff;
    color: #37352F;
}

p {
    font-family: "微軟正黑體", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
}

ul {
    padding: 0px;
    list-style: none;
}

#optionbar ul {
    margin-bottom: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#optionbar ul li a {
    text-align: center;
}

.footer-area {
    color: #878787;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    padding: 60px 0;
    position: relative;
    z-index: 1;
}