
@{
    ViewBag.Title = "MyBookshelf";
    Layout = "~/Views/Shared/layout_userpage.cshtml";
}
<article class="container py-5 px-5" id="content">

    <h3>租期中</h3>
    <hr style="background-color: white;">
    <p>111</p>
    <h3>已到期</h3>
    <hr style="background-color: white;">
    <p>111</p>

</article>